$firstClr: #f9f7f7;
$secondClr: #dbe2ef;
$thirdClr: #3f72af;
$fourthClr: #112d4e;

$inputsBoxBackgroundClr: $secondClr;
$labelClr: $thirdClr;

$btnBackgroundClr: $fourthClr;
$btnHoverBackgroundClr: $firstClr;

$btnFontClr: $firstClr;
$btnHoverFontClr: $fourthClr;
