@import "inputBox";
@import "colors";

@mixin inputsBox {
	&__inputsBox {
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: $inputsBoxBackgroundClr;
		padding: 10px;
		border-bottom: 3px solid $thirdClr;

		&__taskTitle {
			@include inputBox;
		}
		&__taskDesc {
			@include inputBox;
			&__input {
				min-height: 50px;
			}
		}
		&__addBtn {
			min-width: 100px;
			min-height: 25px;
			font-family: "Indie Flower", cursive;
			font-size: 18px;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			border: none;
			@include btnsStyles;
		}
	}
}
