@import "inputBox";
@import "colors";

@mixin inputsBox {
	&__inputsBox {
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: $inputsBoxBackgroundClr;
		padding: 10px;

		&__taskTitle {
			@include inputBox;
		}
		&__taskDesc {
			@include inputBox;
			&__input {
				min-height: 50px;
			}
		}
		&__addBtn {
			min-width: 100px;
			min-height: 25px;
			font-size: 18px;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			background-color: $btnBackgroundClr;
			color: $btnFontClr;
			&:hover {
				background-color: $btnHoverBackgroundClr;
				color: $btnHoverFontClr;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}
