@import "variables";
@import "colors";
@import "task";
@import "taskBtns";

@mixin tasks {
	&__tasks {
		background-color: $tasksBackgroundClr;
		color: $tasksFontClr;
		&__title {
			font-family: "Lato", sans-serif;
			font-size: 40px;
			text-align: center;
			text-transform: uppercase;
		}
		&__task {
			@include task;
			@include uncompletedTaskBtns;
		}
		&__completedTask {
			@include task;
		}
	}
}
