@import "variables";
@import "colors";
@import "task";
@import "taskBtns";

@mixin tasks {
	&__tasks {
		background-color: $tasksBackgroundClr;
		color: $tasksFontClr;
		&__title {
			font-family: $secondaryFont;
			font-size: 40px;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 3px solid $thirdClr;
		}
		&__task {
			@include task;
			@include uncompletedTaskBtns;
		}
		&__completedTask {
			@include task;
			padding-bottom: $basicPadding;
		}
	}
}
