@import "variables";
@import "colors";

@mixin task {
	text-align: start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	padding-right: $basicPadding;
	padding-left: $basicPadding;
	word-wrap: break-word;
	max-height: $openedTaskHeight;
	transition: $taskHeightTransition;
	overflow: hidden;
	background-color: $taskBackgroundClr;
	border-bottom: 3px solid $thirdClr;
	&__taskText {
		&__header {
			font-size: $primaryTaskFontSize;
			font-family: $primaryFont;
			line-height: $closedTaskHeight;
			color: $taskHeaderClr;
		}
		&__desc {
			padding-left: $basicPadding;
			padding-right: $basicPadding;
			font-size: $secondaryTaskFontSize;
			font-family: $secondaryFont;
			font-style: italic;
			color: $taskDescClr;
		}
	}
	&__openCloseBtn {
		position: absolute;
		top: $basicPadding;
		right: $basicPadding;
		height: calc(#{$closedTaskHeight} - 2 * #{$basicPadding});
		width: 70px;
		font-family: $btnsFont;
		font-size: 15px;
		text-transform: uppercase;
		@include btnsStyles;
	}

	&.closed {
		max-height: $closedTaskHeight;
		transition: $taskHeightTransition;
	}
}
