@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
html {
  background-color: #dbe2ef;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toDoList__inputsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dbe2ef;
  padding: 10px;
  border-bottom: 3px solid #3f72af;
}

.toDoList__inputsBox__taskTitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.toDoList__inputsBox__taskTitle__label {
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 20px;
  margin-right: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #3f72af;
  font-family: "Alfa Slab One", cursive;
}

.toDoList__inputsBox__taskTitle__input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  min-width: 100%;
  max-height: 50px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  font-family: "Lato", sans-serif;
  font-style: italic;
  background-color: #f9f7f7;
  color: #3f72af;
}

.toDoList__inputsBox__taskTitle__input:focus {
  opacity: 0.7;
}

.toDoList__inputsBox__taskTitle__input.edited {
  border: none;
  background-color: #3f72af;
  color: #f9f7f7;
}

.toDoList__inputsBox__taskTitle__taskErr {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #112d4e;
}

.toDoList__inputsBox__taskDesc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.toDoList__inputsBox__taskDesc__label {
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 20px;
  margin-right: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #3f72af;
  font-family: "Alfa Slab One", cursive;
}

.toDoList__inputsBox__taskDesc__input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  min-width: 100%;
  max-height: 50px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  font-family: "Lato", sans-serif;
  font-style: italic;
  background-color: #f9f7f7;
  color: #3f72af;
}

.toDoList__inputsBox__taskDesc__input:focus {
  opacity: 0.7;
}

.toDoList__inputsBox__taskDesc__input.edited {
  border: none;
  background-color: #3f72af;
  color: #f9f7f7;
}

.toDoList__inputsBox__taskDesc__taskErr {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #112d4e;
}

.toDoList__inputsBox__taskDesc__input {
  min-height: 50px;
}

.toDoList__inputsBox__addBtn {
  min-width: 100px;
  min-height: 25px;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  background-color: #112d4e;
  color: #f9f7f7;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toDoList__inputsBox__addBtn:hover {
  background-color: #f9f7f7;
  color: #112d4e;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toDoList__tasks {
  background-color: #112d4e;
  color: #f9f7f7;
}

.toDoList__tasks__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #3f72af;
}

.toDoList__tasks__task {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  word-wrap: break-word;
  max-height: 200px;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  background-color: #dbe2ef;
  border-bottom: 3px solid #3f72af;
}

.toDoList__tasks__task__taskText__header {
  font-size: 30px;
  font-family: "Alfa Slab One", cursive;
  line-height: calc(200px / 3);
  color: #112d4e;
}

.toDoList__tasks__task__taskText__desc {
  padding-left: 10px;
  padding-right: 10px;
  font-size: calc(30px / 1.7);
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #3f72af;
}

.toDoList__tasks__task__openCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: calc(calc(200px / 3) - 2 * 10px);
  width: 70px;
  font-family: "Noto Serif", serif;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #112d4e;
  color: #f9f7f7;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toDoList__tasks__task__openCloseBtn:hover {
  background-color: #f9f7f7;
  color: #112d4e;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toDoList__tasks__task.closed {
  max-height: calc(200px / 3);
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.toDoList__tasks__task__buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
  min-height: 60px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toDoList__tasks__task__buttons button {
  width: calc(50px);
  font-size: calc(30px / 2.1);
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.toDoList__tasks__task__buttons__confirm {
  background: url(./svg/confirmBtn.svg);
}

.toDoList__tasks__task__buttons__confirm:hover {
  background-image: url(./svg/hoverConfirmBtn.svg);
}

.toDoList__tasks__task__buttons__edit {
  background: url(./svg/editBtn.svg);
}

.toDoList__tasks__task__buttons__edit:hover {
  background-image: url(./svg/hoverEditBtn.svg);
}

.toDoList__tasks__task__buttons__delete {
  background: url(./svg/deleteBtn.svg);
}

.toDoList__tasks__task__buttons__delete:hover {
  background-image: url(./svg/hoverDeleteBtn.svg);
}

.toDoList__tasks__completedTask {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  word-wrap: break-word;
  max-height: 200px;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  background-color: #dbe2ef;
  border-bottom: 3px solid #3f72af;
  padding-bottom: 10px;
}

.toDoList__tasks__completedTask__taskText__header {
  font-size: 30px;
  font-family: "Alfa Slab One", cursive;
  line-height: calc(200px / 3);
  color: #112d4e;
}

.toDoList__tasks__completedTask__taskText__desc {
  padding-left: 10px;
  padding-right: 10px;
  font-size: calc(30px / 1.7);
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #3f72af;
}

.toDoList__tasks__completedTask__openCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: calc(calc(200px / 3) - 2 * 10px);
  width: 70px;
  font-family: "Noto Serif", serif;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #112d4e;
  color: #f9f7f7;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toDoList__tasks__completedTask__openCloseBtn:hover {
  background-color: #f9f7f7;
  color: #112d4e;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toDoList__tasks__completedTask.closed {
  max-height: calc(200px / 3);
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

@media (min-width: 541px) {
  .toDoList {
    width: 540px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=toDoList.css.map */