@import "variables";

.toDoList {
	&__inputsBox {
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: beige;
		padding: 10px;
		&__taskTitle {
			@include inputBox;
		}
		&__taskDesc {
			@include inputBox;
		}
	}
}
