// @import "variables";
@import "inputsBox";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.toDoList {
	@include inputsBox;
	&__tasks {
		background-color: brown;

		&__title {
			font-size: 40px;
			text-align: center;
		}
		&__task {
			text-align: start;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			padding: 5px;
			word-wrap: break-word;
			background-color: burlywood;

			&__buttons {
				align-self: flex-end;
			}
			&__openCloseBtn {
				position: absolute;
				top: 5px;
				right: 5px;
			}

			&.closed {
				visibility: hidden;
			}
		}
	}
}
