@import "variables";
@import "colors";
@import "inputsBox";
@import "tasks";

html {
	background-color: $secondClr;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.toDoList {
	@include inputsBox;
	@include tasks;
}

@media (min-width: 541px) {
	.toDoList {
		width: 540px;
		margin: 0 auto;
	}
}
